{% extends 'base.html.twig' %}

{% block title %}Page non Trouvée{% endblock %}

{% block body %}
    <div class="container">
        <h1>Oups ! la page que vous recherchez n'existe pas ! </h1>
        <p>nous invitons à cliquer sur le bouton ci-dessous pour revenir à l'accueil ou sur nos annonces</p>
        <a href="{{path('homepage')}}" class="btn btn-primary">Retour à l'accueil</a>
        <a href="{{path('ads_index')}}" class="btn btn-success">Nos annonces</a>

    </div>
{% endblock %}