{% extends 'base.html.twig' %}

    {% block title %}
        Bienvenue sur le meilleur réseau appartement Français
    {% endblock %}
        
    {% block body %}
        <div class="container">
                <div class="jumbotron">
                    <h1 class="display-3">Bienvenue sur iBnB !</h1>
                    <p class="lead">Nous mettons en ralation les voyageurs et les propritetaires
                     qui veulent profiter d'opportunités et de gagner de l'argent en proposant à la location leur logements.</p>
                    <hr class="my-4">
                        <p>Vous etes en quete d'un logement pour votre voyage? venez chercher votre bonheur ici!</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
                        </p>
                </div>
           

            <h2 class="h1 mt-3 mb-4">Nos logements stars</h2>
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres, <strong>49&euro; /nuit</strong> <br>
                            <small>Pas encore noté</small>
                        </div>

                        <img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height: 200px; width: 100%; display: block">
                        <div class="card-body">
                            <h4 class="card-title">
                                tres bonne appartement
                            </h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi quidem officia error eos numquam atque neque unde vel! Voluptatum similique qui impedit rem provident amet harum sit quod error ducimus.
                            </p>
                            <a href="#" class="btn btn-secondary">En savoir plus</a>

                        </div>
                    </div>
                </div>    
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres, <strong>49&euro; /nuit</strong> <br>
                            <small>Pas encore noté</small>
                        </div>

                        <img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height: 200px; width: 100%; display: block">
                        <div class="card-body">
                            <h4 class="card-title">
                                tres bonne appartement
                            </h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi quidem officia error eos numquam atque neque unde vel! Voluptatum similique qui impedit rem provident amet harum sit quod error ducimus.
                            </p>
                            <a href="#" class="btn btn-secondary">En savoir plus</a>

                        </div>
                    </div>
                </div>    
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres, <strong>49&euro; /nuit</strong> <br>
                            <small>Pas encore noté</small>
                        </div>

                        <img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height: 200px; width: 100%; display: block">
                        <div class="card-body">
                            <h4 class="card-title">
                                tres bonne appartement
                            </h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi quidem officia error eos numquam atque neque unde vel! Voluptatum similique qui impedit rem provident amet harum sit quod error ducimus.
                            </p>
                            <a href="#" class="btn btn-secondary">En savoir plus</a>

                        </div>
                    </div>
                </div> 
            </div> 
            <div class="row "></div>

                <h2 class="h1 mt-3 mb-4">Nos propriétaires stars !</h2>

            <div class="row">
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Doumé alias le corse</h4>
                            <hr>

                            <div class="car-text">
                                <img src="http://placehold.it/64x64" alt="Avatar de Doumé" class="float-left mr-3">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, tempore ab. Nesciunt laborum animi perspiciatis magnam, labore quisquam tempore quaerat! Assumenda rerum possimus enim quae nisi impedit nam vitae magni?</p>
                                <a href="#" class="btn btn-success float-right">En savoir Plus</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Doumé alias le corse</h4>
                            <hr>

                            <div class="car-text">
                                <img src="http://placehold.it/64x64" alt="Avatar de Doumé" class="float-left mr-3">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, tempore ab. Nesciunt laborum animi perspiciatis magnam, labore quisquam tempore quaerat! Assumenda rerum possimus enim quae nisi impedit nam vitae magni?</p>
                                <a href="#" class="btn btn-success float-right">En savoir Plus</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
        {% block javascripts %}{% endblock %}
